<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Octopus.Shared.Settings.UserSettingsStore" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Octopus.Shared.Settings.ApplicationSettingsStore" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Octopus.Shared.Settings.DatabaseSettingsStore" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Octopus.Shared.ApplicationSettingsStore" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Octopus.Shared.ApplicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
          
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Octopus.Shared.Settings.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Octopus.Shared.Settings.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Octopus.Shared.Settings.UserSettingsStore>
            <setting name="LANGUAGE" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="BACKUP_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="EXPORT_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="AUTO_UPDATE" serializeAs="String">
                <value>False</value>
            </setting>
        </Octopus.Shared.Settings.UserSettingsStore>
        <Octopus.Shared.Settings.ApplicationSettingsStore>
            <setting name="LANGUAGE" serializeAs="String">
                <value />
            </setting>
            <setting name="BACKUP_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="EXPORT_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="AUTO_UPDATE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="REMOTING_SERVICES_CONNECTION" serializeAs="String">
                <value>http://192.168.2.11:1069/RemoteOperation</value>
            </setting>
            <setting name="REMOTING_CORE_DOMAIN_CONNECTION" serializeAs="String">
                <value>http://192.168.2.11:1069/RemoteCoreDomain</value>
            </setting>
            <setting name="ONLINE" serializeAs="String">
                <value>False</value>
            </setting>
        </Octopus.Shared.Settings.ApplicationSettingsStore>
        <Octopus.Shared.Settings.DatabaseSettingsStore>
            <setting name="DATABASE" serializeAs="String">
                <value />
            </setting>
            <setting name="SERVER" serializeAs="String">
                <value />
            </setting>
            <setting name="USERNAME" serializeAs="String">
                <value />
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="TIMEOUT" serializeAs="String">
                <value />
            </setting>
        </Octopus.Shared.Settings.DatabaseSettingsStore>
        <Octopus.Shared.ApplicationSettingsStore>
            <setting name="LANGUAGE" serializeAs="String">
                <value />
            </setting>
            <setting name="BACKUP_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="EXPORT_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="AUTO_UPDATE" serializeAs="String">
                <value />
            </setting>
            <setting name="DATABASE" serializeAs="String">
                <value>octopus</value>
            </setting>
            <setting name="SERVER" serializeAs="String">
                <value>localhost\octopus</value>
            </setting>
            <setting name="USERNAME" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value>octopus</value>
            </setting>
            <setting name="TIMEOUT" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ONLINE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="REMOTING_SERVICES_CONNECTION" serializeAs="String">
                <value>http://192.168.2.11:1069/RemoteOperation</value>
            </setting>
            <setting name="REMOTING_CORE_DOMAIN_CONNECTION" serializeAs="String">
                <value>http://192.168.2.11:1069/RemoteCoreDomain</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
        </Octopus.Shared.ApplicationSettingsStore>
        <Octopus.Shared.ApplicationSettings>
            <setting name="LANGUAGE" serializeAs="String">
                <value />
            </setting>
            <setting name="BACKUP_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="EXPORT_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="AUTO_UPDATE" serializeAs="String">
                <value />
            </setting>
            <setting name="DATABASE" serializeAs="String">
                <value />
            </setting>
            <setting name="SERVER" serializeAs="String">
                <value />
            </setting>
            <setting name="USERNAME" serializeAs="String">
                <value />
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="TIMEOUT" serializeAs="String">
                <value />
            </setting>
            <setting name="ONLINE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="REMOTING_CONNECTION" serializeAs="String">
                <value>http://octo-octopus-on:1069/RemoteOperation</value>
            </setting>
        </Octopus.Shared.ApplicationSettings>
    </userSettings>
    <applicationSettings>
        <Octopus.Shared.Settings.GlobalSettings>
            <setting name="Version" serializeAs="String">
                <value>4.7.0</value>
            </setting>
        </Octopus.Shared.Settings.GlobalSettings>
        <Octopus.Shared.Settings.Settings1>
            <setting name="Version" serializeAs="String">
                <value>3.9.0</value>
            </setting>
        </Octopus.Shared.Settings.Settings1>
    </applicationSettings>
</configuration>
