<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenCBS.Test.Parameters" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpenCBS.Test.Parameters>
            <setting name="PATH_DIRECTORY_DATABASE" serializeAs="String">
                <value>C:\Octopus\DatabaseUpdate</value>
            </setting>
            <setting name="name_schema" serializeAs="String">
                <value>OCTOPUS_Upgrade_Schema</value>
            </setting>
        </OpenCBS.Test.Parameters>
    </userSettings>
  <appSettings file="customparam.config">
    <add key="toto" value="tti"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior" />
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="NewBinding1" />
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="NewBinding0" />
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://octo-vgu:2000/SyncService.svc" behaviorConfiguration="NewBehavior"
        binding="wsHttpBinding" bindingConfiguration="NewBinding1" contract="Lola.ServiceInterface.ISyncService"
        name="clientendpoint">
        <identity>
          <dns value="localhost" />
          <certificateReference storeName="My" storeLocation="LocalMachine"
            x509FindType="FindBySubjectDistinguishedName" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
