<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  
  <?define PreviousVersion="2.8.7" ?>
  <?define ProductVersion="2.8.8" ?>
  <?define UpgradeCode="55ABA200-3EF4-4727-966A-2E17486D8ECA"?>
  <?define ProductCode="E036230C-84AF-43db-AB1F-8A7CF563A4B4"?>

  <Product Id="$(var.ProductCode)" Name="OMFS Remoting Server $(var.ProductVersion)" Language="1033"
           Version="$(var.ProductVersion)" Manufacturer="Octopus Microfinance" UpgradeCode="$(var.UpgradeCode)">

    <Package Comments="OMFS Remoting Server" Compressed="yes" InstallerVersion="200"
             Keywords="OMFS Remoting Server" Languages="1033" Manufacturer="Octopus MicroFinance" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" CompressionLevel="high" />

    <PropertyRef Id="NETFRAMEWORK35"/>
    <Condition Message="This application requires .NET Framework 3.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK35]]>
    </Condition>

    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)" IncludeMinimum="no" OnlyDetect="yes" Language="1033" Property="NEWERPRODUCTFOUND" />
      <UpgradeVersion Minimum="$(var.PreviousVersion)" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="no"
                      Language="1033" Property="UPGRADEFOUND" />
    </Upgrade>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" SourceName="User's Desktop">
        <Component Id="dir_desktop" Guid="41674199-AF6B-4c53-93D6-7C93ABC0AFAD">
          <CreateFolder Directory="DesktopFolder" />
          <RegistryValue Id="dir_desktop" Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\{41674199-AF6B-4c53-93D6-7C93ABC0AFAD}" Name="DesktopFolder" Value="[DesktopFolder]" Type="string" KeyPath="yes" />
          <RemoveFolder Id="dir_desktop" Directory="DesktopFolder" On="uninstall" />
        </Component>
      </Directory>
      <Directory Id="StartMenuFolder">
        <Directory Id="StartMenuOMFS" Name="Octopus Microfinace Suite">
          <Component Id="StartMenuFolder" Guid="3319810F-A45E-4306-B4C2-48FFA625C069">
            <CreateFolder Directory="StartMenuOMFS" />
            <RegistryValue Id="StartMenuFolder" Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\{41674199-AF6B-4c53-93D6-7C93ABC0AFAD}" Name="StartMenuFolder" Value="[StartMenuFolder]" Type="string" KeyPath="yes" />
            <RemoveFolder Id="StartMenuFolder" Directory="StartMenuOMFS" On="uninstall" />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="ProgramFilesFolder" SourceName="User's Programs Menu">
        <Directory Id="DIR_ROOT" Name="OctopusMicroFinanceSuite">
          <Directory Id="DIR_REMOTING_SERVER" Name="OMFS Remoting Server">

            <Component Id="CrystalReports.Lib" Guid="FF537F9B-9F48-4eec-ABCC-9D8A45B5DE89">
              <File Id="CrystalDecisions.CrystalReports.Engine.dll" Source="SourceDir\CrystalDecisions.CrystalReports.Engine.dll" />
              <File Id="CrystalDecisions.Shared.dll" Source="SourceDir\CrystalDecisions.Shared.dll" />
            </Component>

            <Component Id="SharpZip.Lib" Guid="DF309D6F-327B-48d7-9D24-8B5149C6FE51">
              <File Id="ICSharpCode.SharpZipLib.dll" Source="SourceDir\ICSharpCode.SharpZipLib.dll" />
            </Component>

            <Component Id="Log4Net" Guid="F4A2963F-992C-4a9a-A0EC-D0287B4F8F4C">
              <File Id="log4net.dll" Source="SourceDir\log4net.dll" />
              <File Id="log4net.xml" Source="SourceDir\log4net.xml"/>
              <CreateFolder Directory="LOGS" >
                <Permission  User="Everyone" GenericAll="yes" />
              </CreateFolder>
            </Component>
            <Directory Id="LOGS" Name="Logs" />

            <Component Id="Octopus.Lib" Guid="FA01C81C-4C2A-43c5-88C2-80C93C8D8FC5">
              <File Id="Octopus.CoreDomain.dll" Source="SourceDir\Octopus.CoreDomain.dll" />
              <File Id="Octopus.Description.Number.dll" Source="SourceDir\Octopus.Description.Number.dll" />
              <File Id="Octopus.DatabaseConnection.dll" Source="SourceDir\Octopus.DatabaseConnection.dll" />
              <File Id="Octopus.Enums.dll" Source="SourceDir\Octopus.Enums.dll" />
              <File Id="Octopus.ExceptionsHandler.dll" Source="SourceDir\Octopus.ExceptionsHandler.dll" />
              <File Id="Octopus.Manager.dll" Source="SourceDir\Octopus.Manager.dll" />
              <File Id="Octopus.MultiLanguageRessources.dll" Source="SourceDir\Octopus.MultiLanguageRessources.dll" />
              <File Id="Octopus.Remoting.Server.dll" Source="SourceDir\Octopus.Remoting.Server.dll" />
              <File Id="Octopus.Services.dll" Source="SourceDir\Octopus.Services.dll" />
              <File Id="Octopus.Shared.dll" Source="SourceDir\Octopus.Shared.dll" />
            </Component>

            <Component Id="ConfigFiles" Guid="82A4377F-1458-40fc-9CAC-8ACBA2A2D5A0">
              <File Id="RemoteServerSettings.xml" Source="SourceDir\RemoteServerSettings.xml" />
              <File Id="Config.xml" Source="SourceDir\Config.xml" />
              <!--<util:XmlFile Id="port_number_setting" File="[#Config.xml]"
                            Action="setValue" Name="port" Value="[PORT_NUMBER]" ElementPath="//configuration/system.runtime.remoting/application/channels/channel"
                            Sequence="1" />-->
            </Component>

            <Component Id="Octopus.Remoting.Server.Gui" Guid="F1A57585-03A9-4f26-8E9D-F48403909D0C">
              <File Id="Octopus.Remoting.Server.GUI.exe" Source="SourceDir\Octopus.Remoting.Server.GUI.exe" />
              <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="OMFS Remoting Server" WorkingDirectory="DIR_REMOTING_SERVER" Advertise="yes" Icon="App.ico"/>
              <Shortcut Id="StartMenuShortcut" Directory="StartMenuOMFS" Name="OMFS Remoting Server" WorkingDirectory="DIR_REMOTING_SERVER" Advertise="yes" Icon="App.ico"/>
            </Component>

            <Component Id="Octopus.Remoting.Server.Exe" Guid="8C937ABB-B452-4a97-9D74-EFCB5AC86063">
              <File Id="Octopus.Remoting.Server.Exe.exe" Source="SourceDir\Octopus.Remoting.Server.Exe.exe" />
            </Component>

            <Component Id="Octopus.Remoting.Server.Service" Guid="61B91D66-6AC4-4378-99A3-EBC0B642007B">
              <File Id="Octopus.Remoting.Server.Service.exe" Source="SourceDir\Octopus.Remoting.Server.Service.exe" KeyPath="yes" />
              <ServiceInstall Id="ServiceInstaller" Type="ownProcess" Vital="yes" Name="[SERVICE_NAME]" DisplayName="OMFS Remoting Server"
                              Description="Octopus Microfinance Suite Remoting Server Service" Start="auto" ErrorControl="normal" Interactive="no" />
              <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="[SERVICE_NAME]" Wait="yes" />
              
            </Component>

            <Directory Id="DIR_REPORTS" Name="Reports">
              <Directory Id="dir_standard" Name="Standard">
                <Component Id="dir_standard" Guid="625E4E02-68E0-45F2-8198-10CE3FD140BF">
                  <File Id="Abandonned_And_Refused" Name="Abandonned_And_Refused.zip" Source="SourceDir\Reports\Standard\Abandonned_And_Refused.zip" />
                  <File Id="Active_Loans" Name = "Active_Loans.zip" Source="SourceDir\Reports\Standard\Active_Loans.zip" />
                  <File Id="Active_Savings" Name="Active_Savings.zip" Source="SourceDir\Reports\Standard\Active_Savings.zip" />
                  <File Id="Client_ShareOfWomen" Name="Client_ShareOfWomen.zip" Source="SourceDir\Reports\Standard\Client_ShareOfWomen.zip" />
                  <File Id="Clients_Loan_Statistics" Name="Clients_Loan_Statistics.zip" Source="SourceDir\Reports\Standard\Clients_Loan_Statistics.zip" />
                  <File Id="Closed_Contracts" Name="Closed_Contracts.zip" Source="SourceDir\Reports\Standard\Closed_Contracts.zip" />
                  <File Id="Credit_Committee" Name="Credit_Committee.zip" Source="SourceDir\Reports\Standard\Credit_Committee.zip" />
                  <File Id="Data_Quality_Report" Name="Data_Quality_Report.zip" Source="SourceDir\Reports\Standard\Data_Quality_Report.zip" />
                  <File Id="Delinquent_Loans" Name="Delinquent_Loans.zip" Source="SourceDir\Reports\Standard\Delinquent_Loans.zip" />
                  <File Id="Disbursements_Per_Activity" Name="Disbursements_Per_Activity.zip" Source="SourceDir\Reports\Standard\Disbursements_Per_Activity.zip" />
                  <File Id="Disbursments" Name="Disbursments.zip" Source="SourceDir\Reports\Standard\Disbursments.zip" />
                  <File Id="Loan_Cycle" Name = "Loan_Cycle.zip" Source="SourceDir\Reports\Standard\Loan_Cycle.zip" />
                  <File Id="Disbursements_And_Reimbursements" Name = "Disbursements_And_Reimbursements.zip" Source="SourceDir\Reports\Standard\Disbursements_And_Reimbursements.zip" />
                  <File Id="Loan_Officers_Follow_Up_DisbReimb" Name = "Loan_Officers_Follow-Up_DisbReimb.zip" Source="SourceDir\Reports\Standard\Loan_Officers_Follow-Up_DisbReimb.zip" />
                  <File Id="Loan_Officers_Follow_Up_OLB_PAR" Name = "Loan_Officers_Follow-Up_OLB_PAR.zip" Source="SourceDir\Reports\Standard\Loan_Officers_Follow-Up_OLB_PAR.zip" />
                  <File Id="Loans_Disbursed" Name="Loans_Disbursed.zip" Source="SourceDir\Reports\Standard\Loans_Disbursed.zip" />
                  <File Id="Performing_Loans" Name="Performing_Loans.zip" Source="SourceDir\Reports\Standard\Performing_Loans.zip" />
                  <File Id="Written_off_penalties" Name="Written_off_penalties.zip" Source="SourceDir\Reports\Standard\Written_off_penalties.zip" />
                  <File Id="OLB_and_LLP" Name="OLB_and_LLP.zip" Source="SourceDir\Reports\Standard\OLB_and_LLP.zip" />
                  <File Id="OLB_Per_Collateral" Name="OLB_Per_Collateral.zip" Source="SourceDir\Reports\Standard\OLB_Per_Collateral.zip" />
                  <File Id="PAR_Analysis_Pivot" Name="PAR_Analysis_Pivot.zip" Source="SourceDir\Reports\Standard\PAR_Analysis_Pivot.zip" />
                  <File Id="Repayments" Name="Repayments.zip" Source="SourceDir\Reports\Standard\Repayments.zip" />
                  <File Id="Residual_Maturity" Name="Residual_Maturity.zip" Source="SourceDir\Reports\Standard\Residual_Maturity.zip" />
                  <File Id="Written_Off_Loans" Name="Written_Off_Loans.zip" Source="SourceDir\Reports\Standard\Written_Off_Loans.zip" />
                  <File Id="OLB_per_Client" Name="OLB_per_Client.zip" Source="SourceDir\Reports\Standard\OLB_per_Client.zip" />
                  <File Id="Portfolio_Transfer" Name="Portfolio_Transfer.zip" Source="SourceDir\Reports\Standard\Portfolio_Transfer.zip" />
                  <File Id="Rescheduled_Loans" Name="Rescheduled_Loans.zip" Source="SourceDir\Reports\Standard\Rescheduled_Loans.zip" />
                  <File Id="Not_Disbursed_Loans" Name="Not_Disbursed_Loans.zip" Source="SourceDir\Reports\Standard\Not_Disbursed_Loans.zip" />
                </Component>
              </Directory>
              <Directory Id="dir_internal" Name="Internal">
                <Component Id="dir_internal" Guid="625E4E02-68E0-45F2-8198-10DA3FD140BF">
                  <File Id="SavingsCompulsory_Contract_Status" Name = "SavingsCompulsory_Contract_Status.zip" Source="SourceDir\Reports\Internal\SavingsCompulsory_Contract_Status.zip" />
                  <File Id="SavingsCompulsory_Cash_Receipt" Name = "SavingsCompulsory_Cash_Receipt.zip" Source="SourceDir\Reports\Internal\SavingsCompulsory_Cash_Receipt.zip" />
                  <File Id="SavingsCompulsory_Agreement" Name = "SavingsCompulsory_Agreement.zip" Source="SourceDir\Reports\Internal\SavingsCompulsory_Agreement.zip" />
                  <File Id="SavingsDeposit_Contract_Status" Name = "SavingsDeposit_Contract_Status.zip" Source="SourceDir\Reports\Internal\SavingsDeposit_Contract_Status.zip" />
                  <File Id="SavingsDeposit_Cash_Receipt" Name = "SavingsDeposit_Cash_Receipt.zip" Source="SourceDir\Reports\Internal\SavingsDeposit_Cash_Receipt.zip" />
                  <File Id="SavingsDeposit_Agreement" Name = "SavingsDeposit_Agreement.zip" Source="SourceDir\Reports\Internal\SavingsDeposit_Agreement.zip" />
                  <File Id="SavingsBook_Contract_Status" Name = "SavingsBook_Contract_Status.zip" Source="SourceDir\Reports\Internal\SavingsBook_Contract_Status.zip" />
                  <File Id="SavingsBook_Agreement" Name = "SavingsBook_Agreement.zip" Source="SourceDir\Reports\Internal\SavingsBook_Agreement.zip" />
                  <File Id="SavingsBook_Cash_Receipt" Name = "SavingsBook_Cash_Receipt.zip" Source="SourceDir\Reports\Internal\SavingsBook_Cash_Receipt.zip" />
                  <File Id="Accounting_Balances" Name = "Accounting_Balances.zip" Source="SourceDir\Reports\Internal\Accounting_Balances.zip" />
                  <File Id="Loan_Events" Name = "Loan_Events.zip" Source="SourceDir\Reports\Internal\Loan_Events.zip" />
                  <File Id="Bookings" Name = "Bookings.zip" Source="SourceDir\Reports\Internal\Bookings.zip" />
                  <File Id="Collection_Sheet" Name = "Collection_Sheet.zip" Source="SourceDir\Reports\Internal\Collection_Sheet.zip" />
                  <File Id="Collection_Sheet_with_Delinquent_Loans" Name = "Collection_Sheet_with_Delinquent_Loans.zip" Source="SourceDir\Reports\Internal\Collection_Sheet_with_Delinquent_Loans.zip" />
                  <File Id="Committee_Appraisal" Name = "Committee_Appraisal.zip" Source="SourceDir\Reports\Internal\Committee_Appraisal.zip" />
                  <File Id="Contract_History" Name = "Contract_History.zip" Source="SourceDir\Reports\Internal\Contract_History.zip" />
                  <File Id="Corporate_Loan_Agreement" Name = "Corporate_Loan_Agreement.zip" Source="SourceDir\Reports\Internal\Corporate_Loan_Agreement.zip" />
                  <File Id="Disbursement_Cash_Receipt" Name = "Disbursement_Cash_Receipt.zip" Source="SourceDir\Reports\Internal\Disbursement_Cash_Receipt.zip" />
                  <File Id="Group_Loan_Agreement" Name = "Group_Loan_Agreement.zip" Source="SourceDir\Reports\Internal\Group_Loan_Agreement.zip" />
                  <File Id="Individual_Loan_Agreement" Name = "Individual_Loan_Agreement.zip" Source="SourceDir\Reports\Internal\Individual_Loan_Agreement.zip" />
                  <File Id="Repayment_Cash_Receipt" Name = "Repayment_Cash_Receipt.zip" Source="SourceDir\Reports\Internal\Repayment_Cash_Receipt.zip" />
                  <File Id="Repayment_Schedule" Name = "Repayment_Schedule.zip" Source="SourceDir\Reports\Internal\Repayment_Schedule.zip" />
                  <File Id="Guarantee_Status" Name = "Guarantee_Status.zip" Source="SourceDir\Reports\Internal\Guarantee_Status.zip" />
                  <File Id="Guarantee_Committee_Appraisal" Name = "Guarantee_Committee_Appraisal.zip" Source="SourceDir\Reports\Internal\Guarantee_Committee_Appraisal.zip" />
                </Component>
              </Directory>
            </Directory>

            <Directory Id="DIR_UPDATE" Name="Update">
              <Component Id="sql_create_account" Guid="63CEE167-155A-498e-869C-B9A8D0D15AB3">
                <File Id="DatabaseAccounts.sql" Source="SourceDir\Update\DatabaseAccounts.sql" />
              </Component>
              <Component Id="sql_divers" Guid="B4B47D80-2F95-431D-AFA3-8CA334CB5999">
                <File Id="Add_all_missing_Events.sql" Source="SourceDir\Update\Add_all_missing_Events.sql" />
                <File Id="InitialData.sql" Source="SourceDir\Update\InitialData.sql" />
                <File Id="DropAndCreateUDF.sql" Source="SourceDir\Update\DropAndCreateUDF.sql" />
              </Component>
              <Component Id="sql_create_database" Guid="6A36DFA4-83F5-FC67-DDB2-0AD22AB03E72">
                <File Id="CreateDatabase_v2.8.8.sql" Source="SourceDir\Update\CreateDatabase_v2.8.8.sql" />  
              </Component>
              <Component Id="sql_update_database" Guid="BDBEE7A0-23E5-2E7D-BD1B-E58C5CFA0E65">
                <File Id="Database_Update_v2.8.5_to_v2.8.6.sql" Source="SourceDir\Update\Database_Update_v2.8.5_to_v2.8.6.sql" />
                <File Id="Database_Update_v2.8.6_to_v2.8.7.sql" Source="SourceDir\Update\Database_Update_v2.8.6_to_v2.8.7.sql" />
                <File Id="Database_Update_v2.8.7_to_v2.8.8.sql" Source="SourceDir\Update\Database_Update_v2.8.7_to_v2.8.8.sql" />
              </Component>
              <Component Id="xml_data_schema" Guid="CB26138B-9031-2360-D666-DD5F20038ED9">
                <File Id="OCTOPUS_Data_Schema_v2.8.8.xml" Name="OCTOPUS_Data_Schema_(v2.8.8).xml" Source="SourceDir\Update\OCTOPUS_Data_Schema_(v2.8.8).xml" />
                <File Id="OCTOPUS_Upgrade_Schema.xml" Source="SourceDir\Update\OCTOPUS_Upgrade_Schema.xml" />
                <File Id="Objects.xml" Source="SourceDir\Update\Objects.xml" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeatures" Title="Octopus Remoting" Level="1" ConfigurableDirectory="DIR_ROOT">
      <ComponentRef Id="CrystalReports.Lib"/>
      <ComponentRef Id="SharpZip.Lib"/>
      <ComponentRef Id="Log4Net" />
      <ComponentRef Id="ConfigFiles" />
      <ComponentRef Id="Octopus.Lib" />
      <ComponentRef Id="Octopus.Remoting.Server.Exe" />
      <ComponentRef Id="dir_standard" />
      <ComponentRef Id="dir_internal" />
      <ComponentRef Id="xml_data_schema" />
      <ComponentRef Id="sql_create_account"/>
      <ComponentRef Id="sql_update_database" />
      <ComponentRef Id="sql_create_database" />
      <ComponentRef Id="sql_divers" />
      <Feature Id="ControlPanel" Title="Control Panel" Level="1" Description="An application that allow to configure the server">
        <ComponentRef Id="dir_desktop" />
        <ComponentRef Id="StartMenuFolder" />
        <ComponentRef Id="Octopus.Remoting.Server.Gui" />
      </Feature>
      <Feature Id="ServiceFeatures" Title="Remote Service" Level="1" Description="Server can be installed as a service" > 
        <ComponentRef Id="Octopus.Remoting.Server.Service" />
      </Feature>
    </Feature>

    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />

    <Icon Id="App.ico" SourceFile="C:\dev_factory\Src\Octopus.Installer\Bitmaps\App_Remoting.ico"/>

    <InstallExecuteSequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWERPRODUCTFOUND</Custom>
      <RemoveExistingProducts Before="InstallInitialize" />
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWERPRODUCTFOUND</Custom>
    </InstallUISequence>
    
    <UI Id="MyWixUI_InstallDir">
      <UIRef Id="WixUI_Mondo" />

      <!--<DialogRef Id="PortNumberDlg"/>

      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="PortNumberDlg">1</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="PortNumberDlg" Order="1">WixUI_InstallMode = "InstallCustom"</Publish>-->
    </UI>

    <WixVariable Id="Wix" Value="C:\dev_factory\Src\Octopus.Installer\License\LGPL3.rtf"/>
    <WixVariable Id="WixUILicenseRtf" Value="C:\dev_factory\Src\Octopus.Installer\License\LGPL3.rtf"/>
    <WixVariable Id="WixUIDialogBmp" Value="C:\dev_factory\Src\Octopus.Installer\Bitmaps\background.bmp"/>
    <WixVariable Id="WixUIBannerBmp" Value="C:\dev_factory\Src\Octopus.Installer\Bitmaps\banner.bmp"/>
    <Property Id="WIXUI_INSTALLDIR" Value="DIR_ROOT" ></Property>
    <Property Id="SERVICE_NAME" Value="OctopusRemoteServer"></Property>
    <Property Id="PORT_NUMBER" Value="1069"></Property>
  </Product>

  <!--<Fragment>
    <UI>
      <Dialog Id="PortNumberDlg" Width="370" Height="270" Title="[ProductName] [Setup]" NoMinimize="yes">
        <Control Id="PortLabel" Type="Text" X="45" Y="73" Width="100" Height="15" TabSkip="no" Text="&amp;Port number:" />
        <Control Id="PortEdit" Type="Edit" X="45" Y="85" Width="220" Height="18" Property="PORT_NUMBER" Integer="yes" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
          <Publish Event="NewDialog" Value="CustomizeDlg">WixUI_InstallMode = "InstallCustom"</Publish>
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
          <Publish Event="SpawnWaitDialog" Value="WaitForCostingDlg">CostingComplete = 1</Publish>
          <Publish Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>You can edit the port number of the server</Text>
        </Control>
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}Port Number</Text>
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
      </Dialog>
    </UI>
  </Fragment>-->
</Wix>