<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Octopus.DatabaseConnection.Server" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Octopus.DatabaseConnection.Server>
            <setting name="SERVER" serializeAs="String">
                <value>cortana</value>
            </setting>
            <setting name="TIMEOUT" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DEBUG_LEVEL" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value>shadow</value>
            </setting>
            <setting name="USERNAME" serializeAs="String">
                <value>sa</value>
            </setting>
        </Octopus.DatabaseConnection.Server>
    </applicationSettings>
</configuration>